{% extends 'app/modeloexoticocon.html' %}
{% load static %}
{% block contenido %}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Bienvenido a la seccion Exoticos <br>
            Aqui encontraras productos y accesorios
        </h1>
        <p></p>
    </div>
</div>






    <br>
    <br>



    <div class="container mt-100">
        <div class="row">
            {% for aux in listaExoticos %} 
            <div class="col-md-4 col-sm-6">
                <div class="card mb-30 mt-5 "><a class="card-img-tiles" href="#" data-abc="true">
                        <div class="inner"> 
                        {% if aux.imagen %}
                            <img src="{{ aux.imagen.url }}"  class="mx-auto d-block" width="200">
                        {% else %}
                        <div class="main-img mx-auto d-block"><img
                                    src="https://http2.mlstatic.com/medalla-chapita-llavero-mascotas-perros-gatos-foto-souvenirs-D_NQ_NP_845227-MLA28239414256_092018-F.jpg"
                                    alt="Category" width="200"></div>
                        {% endif %}
    
                            
                            
                        </div>
                    </a>
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ aux.nombre }}</h4>
                        
                        <dl class="text-center">
                            <dt>Codigo</dt>
                            <dd class="font-italic">- {{ aux.codigo }}</dd>
                            <dt>Nombre</dt>
                            <dd class="font-italic">- {{ aux.nombre }}</dd>
                            <dt>Raza</dt>
                            <dd class="font-italic">- {{ aux.raza }}</dd>
                            <dt>Fecha nacimiento</dt>
                            <dd class="font-italic">- {{ aux.fecha_nacimiento }}</dd>
    
                            
    
                                
                        </dl> 
    
    
                        <br>
                        <br>
    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <br>
    <br>







{% endblock %}

