{% extends 'app/modelocarros.html' %}
{% load static %}
{% block contenido %}
 



<!--
<table class="table table-striped table-condensed">
    <thead>

        <tr>

            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>IMAGEN</th>
            <th>STOCK</th>
            <th>OPCIONES</th>
 
        </tr>
    </thead>
    <TBody>
        {% for aux in listaCarrito %}
        <tr>

            <td>{{ aux.seg_codigo }}</td>
            <td>{{ aux.seg_nombre }}</td>
            <td>{{ aux.seg_precio }}</td>
            <td>
                {% if aux.seg_imagen %}
                <img src="{{ aux.seg_imagen.url }}" alt="" width="80">
                {% endif %}
            </td>
            <td>{{ aux.seg_stock }}</td>
            <td>
                <a onclick="confirmDeletesegui ({{ aux.seg_codigo }})" class="btn btn-danger">Eliminar</a>
                
            </td>

        </tr>

        {% endfor %}
    </tbody>

</table>    
-->



<br>
<br>
<br>

<style>
    
    body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #8C9EFF;
    background-repeat: no-repeat;
}

.card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px;
} 

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff;
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #155004;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.icon-content { 
    padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}


</style>

{% for aux in listaCarrito %}
<div class="container px-1 px-md-5 py-8 mx-auto">
    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h5>Orden: <span class="text-primary font-weight-bold">{{ aux.seg_codigo }}</span></h5>
            </div>
            <div class="d-flex flex-column text-sm-right">
                <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                <p>Producto: <span class="font-weight-bold">{{ aux.seg_nombre }}</span></p>
            </div>
        </div>
        <!-- Add class 'active' to progress -->
        <div class="row d-flex justify-content-center">
            <div class="col-12">
            <ul id="progressbar" class="text-center">
                <li class="active step0"></li>
                <li class="active step0"></li>
                <li class="active step0"></li>
                <li class="step0"></li>
            </ul>
            </div> 
        </div>
        <div class="row justify-content-between top">
            <div class="row d-flex icon-content">
                {% if aux.seg_imagen %}
                <img src="{{ aux.seg_imagen.url }}" alt="" width="80">
                {% endif %}
                <div class="d-flex flex-column">
                    <p class="font-weight-bold" style="font-size: 13px; margin-left:10px ; " >Orden<br>Procesando</p>
                     
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold" style="font-size: 13px;">Orden<br>Preparando entrega</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold" style="font-size: 13px;">Orden<br>En Ruta</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold" style="font-size: 13px;">Orden<br>Entregado</p>
                </div>
            </div>
        </div>
        <a onclick="confirmDeletesegui ({{ aux.seg_codigo }})" class="btn btn-danger">Eliminar</a>
    </div>
</div>
{% endfor %}
{% endblock %}


